body {
    background-color: #e0e0ba;
    padding: 10px;
    padding-left: 450px;
    padding-top: 40px;
}

.Text {
    border-bottom: solid 5px #9ac9ff;
    border-left: solid 5px #9ad3ff;
    background-color: #1e62ba;
    color: #81b7f8;
    width: 45%;
    padding: 10px;
}

.img {
    border: double 10px #9c54c8;
    padding: 0px;
}