body {
    background-color: #badce0;
    padding: 5px;
    padding-left: 20px;
    padding-top: 20px;
}

.Text {
    border-bottom: solid 5px #9ac9ff;
    border-left: solid 5px #9ad3ff;
    background-color: #1e62ba;
    color: #81b7f8;
    width: 45%;
    padding: 5px;
}

.img {
    border: double 5px #9c54c8;
    padding: 0px;
}